.footer-container {
  margin-top: auto;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 100%;
  z-index: 0;
  }
  
.footer-container p {
  margin: 0;
  font-size: 14px;
  color: #333;
  }